

ul{
  list-style-type:none !important;
  margin:0 !important;
  padding-left:6px !important;
}
.lista-seleccionado{
  color: white !important;
  background: #186ba0 !important;
}
.lista-mouse{
	color: black;
	background: #d5d5d5 !important;
}
li{
  font-style: normal !important;
}
.lista-prime{
	width: 200px;
	border: 1px solid;
  border-radius: 5px;
  border-color: #848484;
  display: inline-block;	
  margin-bottom: 20px !important;
}