.seleccion-tiempo-container {
  display: inline-block;
    margin-bottom: 0 !important;
}

.seleccion-tiempo-container .selector {
  max-width:50px;
  width  : auto;
  display:inline-block;
}

.ng-invalid > .seleccion-tiempo-container .ng-dirty.form-control {
    border-color: #a94442 !important;
}
