
.ui-archivos {
  display: block;
      border: solid 1px #878787;
    border-radius: 3px;
}

.ui-archivos-header {
  height: 29px;
    background: #A4A4A4;
    padding: 3px;
}

.ui-archivos-content {
  min-height: 26px;
  max-height: 200px;
  overflow-y: auto;
}

.ui-archivos-file-reader {
  display: none !important;
}
div.error{
  background-color: #f7f7f7;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
}
div.contenedorImagenes {
  margin: 5px 10px;
  padding-left: 10px;
}
.thumb {
    width: 40px;
    display: inline;
    border: 1px solid #000;
}
span.nombreArchivo {
  padding-left: 10px;
}

.eliminar-btn {
	display: inline-block;
    position: relative;
    top: 4px;
    left: -10px;
}

.eliminar-btn:hover {
	cursor: pointer;
}