.ui-selector {
  width: 100%;
  display: table;
}

.ui-selector .ui-selector-area {
  display: table-cell;
  vertical-align: middle;
  width: 47%;
}

.ui-selector .botonera {
  display: table-cell;
  vertical-align: middle;
}

.ui-selector .ui-selector-area .search {
  position: relative;
}

.ui-selector .ui-selector-area .search span {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -o-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  margin-right: 5px;
}

.ui-selector .ui-selector-area .area {
  margin-top: 3px;
  border: solid 1px #878787;
  border-radius: 3px;
}

.ui-selector .ui-selector-area .area .header {
  background: #848484;
  text-align: center;
  padding: 3px 0px;
  color: white;
  font-weight: bold;
}

.ui-selector .ui-selector-area .area ul {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 3px;
}

.ui-selector .ui-selector-area .area ul li label {
  width: 18px;
  height: 18px;
  border: solid 1px #a4a4a4;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
}

.ui-selector .ui-selector-area .area ul li .nombre_lista, 
.nombre_lista {
  display: table-row;
  position: relative;
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
  -ms-transform: translateY(15%);
  -o-transform: translateY(15%);
  transform: translateY(15%);
  padding-left: 5px;
  word-wrap: break-word;
  width: 80%;
  padding: 4px;
}

.ui-selector .ui-selector-area .area ul li {
    cursor: pointer;
    padding-left: 3px;
    padding-top: 5px;
    margin-top: 3px;
}

.ui-selector .ui-selector-area .area ul li:hover {
  border: solid 1px black!important;
  border-radius: 3px !important;
}

.ui-selector .ui-selector-area .area ul li input[type="checkbox"] {
  display: none;
}


.ui-selector .botonera {
  width: 24px;
  margin: auto;
  padding-left: 2px;
}

.ui-selector .botonera button {
  display: block;
  margin: 3px auto;
}

.ui-selector-normal {
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
}

.ui-selector-normal .area {
  width: 230px;
  width: 100%;
  display: block;
  margin: auto;
}

.it_selected {
  background-color: #D7D7D7;
    border: solid 1px #000000 !important;
    border-radius: 5px !important;
}

.row.contenedor-selector {
  margin-bottom: 0px;
  margin-top: 3px;
  padding-top: 2px;
  text-align: center;
}

.ancho-maximo {
  width: 100%;
  float: none;
}

/*.ui-selector .nombre_lista {
    display: block !important;
    margin-left: 24px;
}

.ui-selector .contenedor-selector label {
    position: absolute;
}*/

